/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* common */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* main css */

#main {
    width: 100%;
    color: #4e4e4e;
    font: normal normal 14px Lora;
    line-height: 1.6;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 400;
    background-color: #ffffff;
}

/* Begin: header */
#header {
    background-color: #f9eded;
    max-height: 54px;
}

#header .social-list a {
    color: #000;
    text-align: center;
    width: 28px;
    line-height: 54px;
    display: inline-block;
}

#footer .social-list a:hover,
#header .social-list a:hover {
    opacity: 0.6;
}

#header .social-list .icons {
    font-size: 12px;
}

.nav {
    text-align: center;
}

.nav > li {
    display: inline-block;
    padding-right: 35px;
    position: relative;
}

.nav li a {
    display: inline-block;
    font: 12px Maven Pro;
    color: #353535;
    text-transform: uppercase;
    line-height: 54px;
    letter-spacing: 0.5px;
}

.nav li:hover .sub-nav {
    display: inline-block;
}

.nav li a:hover {
    opacity: 0.5;
}

.nav .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: -10px;
    text-align: left;
    background-color: #f9eded;
    z-index: 1;
}

.nav .sub-nav li:hover a {
    background-color: #333333;
    color: #ffffff;
}

.nav .sub-nav a {
    padding: 6px 10px 7px 10px;
    min-width: 160px;
    line-height: 25px;
    text-transform: none;
}

.navbar-btn {
    line-height: 54px;
    padding-left: 20px;
}

.navbar-btn button {
    color: #333;
    border: none;
    width: 28px;
    height: 28px;
    z-index: 1;
}

#header .search-box {
    justify-content: right;
    align-items: center;
    display: flex;
}

#header .search-box .button {
    cursor: pointer;
    max-width: 20px;
    max-height: 22px;
    margin-right: 10px;
    text-align: center;
    border: none;
    color: #626262;
    background: none;
}

.header-logo {
    text-align: center;
    padding: 60px 0;
}

.nav-overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-mobile-tablet {
    display: none;
    position: fixed;
    background-color: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    z-index: 1;
}
.nav-list-mobile-tablet {
    margin-top: 40px;
}
.nav-list-mobile-tablet a {
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 1rem;
    padding: 10px 20px;
}
.nav-list-mobile-tablet li:hover a {
    border: 1px solid #eee;
    background-color: #f9eded;
}
.nav-list-mobile-tablet > li {
    position: relative;
}
.sub-nav-mobile-tablet {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}
.nav-list-mobile-tablet li:hover .sub-nav-mobile-tablet {
    display: inline-block;
}
.sub-nav-mobile-tablet a {
    padding: 6px 10px 7px 10px;
    min-width: 160px;
    line-height: 25px;
}
.sub-nav-mobile-tablet li:hover a {
    background-color: #333333;
    color: #ffffff;
}
.nav-mobile-tablet-close {
    color: #666;
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;    
}

/* End: header */

/* Begin: sliders */
#sliders .slideshow {
    margin: 255px auto 0 auto;
    width: 100%;
    padding-top: 33.33333%;
    overflow: hidden;
    position: relative;
    /* background-image 3:1 */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.slider-content {
    padding: 10px 0;
    background: #ffffffb9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.slideshow:hover .slider-content .read-more-btn a {
    display: inline-block;
}
.main-post .category-name-post a,
.slider-content .category-name a {
    color: #e04f62;
    font-size: 13px;
    font-family: Lora;
    font-style: italic;
    text-transform: capitalize;
}

.post-item .post-item-title a,
.main-post .post-title a,
.slideshow .title-slider h4 a {
    font-family: Montserrat;
    color: #000;
    font-weight: 500;
    line-height: 1.8;
}

.slideshow .time-info {
    font-family: Playfair Display;
    margin: 0 0 10px 0;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 1;
}

.main-post .more-link a,
.slideshow .read-more-btn a {
    color: #aaa;
    border: 1px solid #aaa;
    font-size: 11px;
    font-weight: 400;
    padding: 8px 20px;
    display: none;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-post .more-link a:hover,
.slideshow .read-more-btn a:hover {
    background: #e04f62;
    border-color: #e04f62;
    color: #fff;
}
/* End: slider */
/* Begin: content */
#content {
    margin: 70px 0;
    font-family: Montserrat;
    overflow: hidden;
}

.main-content .main-post {
    text-align: center;
}

.main-content .main-post img {
    width: 100%;
}

.main-post .category-name-post {
    margin-top: 20px;
    margin-bottom: 15px;
}

.main-post .category-name-post a {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    line-height: 1.4;
    margin-bottom: 12px;
}

.main-post .category-name-post a::before,
.main-post .category-name-post a::after {
    content: '';
    display: block;
    height: 0.5px;
    width: 25px;
    position: absolute;
    top: 43%;
    background-color: #e04f62;
}

.main-post .category-name-post a::before {
    right: 100%;
}

.main-post .category-name-post a::after {
    left: 100%;
}

.main-post .post-title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main-post .post-content {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

.main-post .more-link a {
    display: inline-block;
    margin-bottom: 40px;
}

.main-post .post-meta {
    color: #aaaaaa;
    padding: 5px 0px;
    text-align: left;
    border: 1px solid #ebebeb;
    border-left: none;
    border-right: none;
}

.main-post .post-meta .span1 {
    display: inline-block;
}

.main-post .post-meta .span2 {
    display: inline-block;
    text-align: right;
}
/* post-list */
.post-list {
    overflow: hidden;
}

.post-list .post-item {
    margin: 20px 0;
}

.post-item .post-item-img img {
    width: 100%;
}

.post-item .post-item-entry {
    text-align: justify;
}

/* sidebar */
#content .sidebar-content {
    width: 28%;
    height: 100%;
    float: right;
}

.sidebar-content .widget {
    width: 280px;
    padding: 40px 32px;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.widget .widget-title {
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    margin-bottom: 20px;
}

.widget .widget-title span {
    position: relative;
}

.widget .widget-title span:before,
.widget .widget-title span:after {
    content: "";
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    border-color: #eee;
    width: 200px;
    margin: 0 14px;
}

.widget .widget-title span:after {
    left: 100%;
}
.widget .widget-title span:before {
    right: 100%;
}

.about-us img {
    width: 100%;
}

.about-us p {
    margin-top: 10px;
    text-align: center;
}

.follow-us .widget-list {
    text-align: center;
}

.follow-us .widget-list a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    color: #444444;
}

.labels .label a {
    display: inline-block;
    line-height: 14px;
    font-size: 10px;
    border: 1px solid #eeeeee;
    padding: 6px 10px;
    margin: 2px 0;
    color: #646464;
    text-transform: uppercase;
    transition: all 0.5s;
}

.recent-posts .side-item {
    margin-top: 20px;
    overflow: hidden;
}

.recent-posts .side-item img {
    width: 100%;
}

.recent-posts .side-item-text {
    display: inline-block;
    overflow: hidden;
}

.recent-posts .side-item-text a {
    color: #333;
}
.recent-posts .side-item-text p {
    color: #333;
}

/* End: content */

/* Begin: footer */

#footer .footer-logo {
    margin: 30px 0;
    text-align: center;
}
#footer .social-list a {
    color: #000;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
/* End: footer */

/* to top button */
.to-top {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.to-top a {
    color: #000;
}
/* css for js */

.js-mySlides {display: none;}

/* Fading animation */
.fade {
    animation: fade 1.5s linear;
}

@keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
}
/*next vs pre*/

.js-mySlidesPost {display: none;}
 /* Slideshow container */
.slideshowPost-container {
    position: relative;
    margin: auto;
}
 
 /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
 
 /* Position the "next button" to the right */
.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}
.prev {
    left:  0;
    border-radius: 0 3px 3px 0;
}
 
 /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: pink;
}