/* reset css */
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

/* common */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* main css */
body {
    position: relative;
}

#main {
    color: #4e4e4e;
    font: normal normal 14px Lora;
    line-height: 24px;
    letter-spacing: 0px;
    text-transform: none;
    font-weight: 400;
    background-color: #ffffff;
}

/* header */
#header {
    background-color: #f9eded;
    max-height: 54px;
}

#footer .container,
#header .container,
#header #header-logo {
    max-width: 1240px;
    margin: 0 auto;
}

#header .container {
    position: relative;
}

#header .link-list {
    position: absolute;
    float: left;
}

#footer .link-list a,
#header .link-list a {
    color: #000;
    text-align: center;
    width: 28px;
    line-height: 54px;
    display: inline-block;
}

#footer .link-list a:hover,
#header .link-list a:hover {
    opacity: 0.6;
}

#footer .link-list .icons,
#header .link-list .icons {
    font-size: 12px;
}

#nav {
    display: block;
    text-align: center;
}

#nav > li {
    display: inline-block;
    padding-right: 35px;
    position: relative;
}

#nav li a {
    display: inline-block;
    font: 12px Maven Pro;
    color: #353535;
    text-transform: uppercase;
    line-height: 54px;
    letter-spacing: 0.5px;
}

#nav li:hover .subnav {
    display: block;
}

#nav li a:hover {
    opacity: 0.5;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background-color: #f9eded;
    z-index: 1;
}

#nav .subnav li:hover a {
    background-color: #333333;
    color: #ffffff;
}

#nav .subnav a {
    padding: 6px 10px 7px 10px;
    min-width: 160px;
    height: 20px;
    line-height: 20px;
    text-transform: none;
}

#header .search-box {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 54px;
    margin-right: 10px;
}

#header .search-box input[type=text] {
    max-width: 180px;
    max-height: 26px;
    border: none;
    background-color: #f9eded;
}

#header .search-box .button {
    cursor: pointer;
    max-width: 20px;
    max-height: 22px;
    margin-left: 10px;
    text-align: center;
    border: medium none;
    color: #626262;
    background: none;
}

#header-logo {
    text-align: center;
    padding: 60px 0;
}

.footer-logo p,
#header-logo p {
    font-family: lora;
    line-height: 26px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}
/* end header */

/* sliders 1 */
#sliders .slideshow {
    margin: 255px auto 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    /* background-image 3:1 */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#sliders .control {
    z-index: 1;
    flex-basis: 160px;
    cursor: pointer;
}

#sliders .control:hover {
    background: #ffffff59;
}

.slider {
    width: 100%;
    padding-top: 33.33333%;
}

.slider-content {
    padding: 10px 0;
    background: #ffffffb9;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.slider:hover .slider-content .read-more-btn a {
    display: inline-block;
}
.main-post .category-name-post a,
.slider .category-name {
    color: #e04f62;
    font-size: 13px;
    font-family: Lora;
    font-style: italic;
    text-transform: capitalize;
}

.post-item .post-item-title a,
.main-post .post-title a,
.slider .title-slider h4 a {
    font-family: Montserrat;
    color: #000;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.8;
}

.slider .time-info {
    font-family: Playfair Display;
    margin: 0 0 10px 0;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 1;
}

.main-post .more-link a,
.slider .read-more-btn a {
    color: #aaa;
    border: 1px solid #aaa;
    font-size: 11px;
    font-weight: 400;
    padding: 8px 20px;
    display: none;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.main-post .more-link a:hover,
.slider .read-more-btn a:hover {
    background: #e04f62;
    border-color: #e04f62;
    color: #fff;
}
/* end slider */
/* content */
#content {
    margin: 70px 0;
    font-family: Montserrat;
    overflow: hidden;
}

#content .container {
    width: 1240px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    overflow: hidden;
}

#content .main-content {
    width: 67%;
    height: 100%;
    float: left;
}

.main-content .main-post {
    text-align: center;
}

.main-content .main-post img {
    width: 100%;
}

.main-post .category-name-post {
    margin-top: 20px;
    margin-bottom: 15px;
}

.main-post .category-name-post a {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    line-height: 1.4;
    margin-bottom: 12px;
}

.main-post .category-name-post a::before,
.main-post .category-name-post a::after {
    content: '';
    display: block;
    height: 0.5px;
    width: 25px;
    position: absolute;
    top: 43%;
    background-color: #e04f62;
}

.main-post .category-name-post a::before {
    right: 100%;
}

.main-post .category-name-post a::after {
    left: 100%;
}

.main-post .post-title {
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.main-post .post-content {
    margin-top: 20px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

.main-post .more-link a {
    display: inline-block;
    margin-bottom: 40px;
}

.main-post .post-meta {
    color: #aaaaaa;
    padding: 5px 10px;
    text-align: left;
    border: 1px solid #ebebeb;
    border-left: none;
    border-right: none;
}

.main-post .post-meta .span1 {
    display: inline-block;
    width: 49%;
}

.main-post .post-meta .span2 {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.post-list {
    overflow: hidden;
    margin: 0 -20px;
}

.post-list .post-item {
    float: left;
    width: 45%;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
}

.post-item .post-item-img img {
    width: 100%;
}

.post-item .post-item-entry {
    text-align: justify;
}

/* sidebar */
#content .sidebar-content {
    width: 28%;
    height: 100%;
    float: right;
}

.sidebar-content .widget {
    width: 280px;
    padding: 40px 32px;
    border: 1px solid #ebebeb;
    margin-bottom: 50px;
}

.widget .widget-title {
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    margin-bottom: 20px;
}

.widget .widget-title span {
    position: relative;
}

.widget .widget-title span:before,
.widget .widget-title span:after {
    content: "";
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    border-color: #eee;
    width: 200px;
    margin: 0 14px;
}

.widget .widget-title span:after {
    left: 100%;
}
.widget .widget-title span:before {
    right: 100%;
}

.about-me img {
    max-width: 100%;
}

.about-me p {
    margin-top: 10px;
    text-align: center;
}

.follow-us .widget-list {
    text-align: center;
}

.follow-us .widget-list a {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    color: #444444;
}

.labels .label a {
    display: inline-block;
    line-height: 14px;
    font-size: 10px;
    border: 1px solid #eeeeee;
    padding: 6px 10px;
    margin: 2px 0;
    color: #646464;
    text-transform: uppercase;
    transition: all 0.5s;
}

.recent-posts .side-item {
    margin-top: 20px;
    overflow: hidden;
}

.recent-posts .side-item .side-img {
    width: 100px;
    float: left;
}

.recent-posts .side-item img {
    width: 100%;
}

.recent-posts .side-item-text {
    float: right;
}

.recent-posts .side-item-text a {
    color: #333;
}

/* end content */

/* footer */
#footer {
    min-height: 195px;
}

#footer .container {
    position: relative;
}

#footer .link-list {
    z-index: 1;
    position: absolute;
    line-height: 195px;
}

#footer .footer-logo {
    margin: 30px 0;
    position: absolute;
    width: 100%;
    text-align: center;
}
/* end footer */

/* to top button */
.to-top {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
/* css for js */

.js-mySlides {display: none;}

/* Fading animation */
.js-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes js-fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes js-fade {
    from {opacity: .4} 
    to {opacity: 1}
}